name: Merge

on:
  push:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  unit-test:
    uses: ./.github/workflows/unit_test.yml
  sonar-scan:
    uses: ./.github/workflows/sonar_scan_branch.yml
    needs: unit-test
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  save-artifacts:
    name: Save Artifacts
    needs: sonar-scan
    runs-on: macos-15

    steps:
      - name: Save Artifacts
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # pin@v4.3.3
        with:
          name: build-output
          path: build_output
